blockquote {
    display: block;
    background: rgb(49, 46, 46);
    padding: 15px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: rgb(204, 184, 184);
    text-align: justify;

    /*Borders - (Optional)*/
    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;

    /*Box Shadow - (Optional)
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;*/
}
.blockquote_example {
    display: block;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
    position: relative;
    border-radius: 15px 50px 30px;
        

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: rgb(204, 184, 184);
    text-align: justify;

    /*Borders - (Optional)*/
   
    
    /*Box Shadow - (Optional)
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;*/
}